* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    font-size: 100%;
    color: #065592;
    font-family:  'Helvetica', 'Arial', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1 { /* Animation name */
    font-family: 'Lora', serif;
    color: #033E6B;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #50adf3;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p {
    color: #307cb6;
    text-transform: uppercase;
    font-size: .6em;
    margin-top: 7px;
}
.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #033E6B;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}

#contact {
    margin: 0px;
    padding: 15px;
}
#contact a {
    text-align: right;
    padding-bottom: 0;
}
#contact div {
    color: #00BD39;
    text-align: right;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/* END HEADER */

.container .jumbotron {
    box-shadow: 0 0 50px #033E6B;
    border: 2px solid #033E6B;
    width: 630px;
    margin: auto;
}

/*** FOOTER ***/
.panel-footer {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f6b319;
    border-top: 0;
}

#testimonials {
    font-style: italic;
}
#testimonials p:nth-child(2) {
    margin-top: 25px;
}
/* END FOOTER */

/********** Large devices only **********/
@media (min-width: 1200px) {

    /* content */
    .container .jumbotron {
        height: 100%;
    }
    .box_front {
        /* width: 510px; */
        height: 390px;
    }
    /* End content */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    /* content */
    .container .jumbotron {
        height: 100%;
    }
    .box_front {
        /* width: 510px; */
        height: 390px;
    }
    /* End content */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

    /* content */
    .container .jumbotron {
        height: 100%;
    }
    .box_front {
        /* width: 510px; */
        height: 390px;
    }
    /* End content */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 { /* Animation name */
        padding-top: 10px;
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }
    .navbar-brand p { /* Source*/
        font-size: .5em;
        margin-top: 12px;
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.5em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }

    #contact-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
    }
    #xs-contact {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* End Header */

    /* Footer */
    .panel-footer section hr {
        width: 50%;
    }

    .xs-hidden {
        visibility: hidden;
    }
    /* End Footer */

    /* content */
    
    /* End content */
}

/********** Super extra small devices only (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    /* Header */
    .navbar-brand h1 { /* Animation name */
        padding-top: 5px;
        font-size: 5vw;
    }
    .navbar-brand p { /* Source*/
        font-size: .3em;
        margin-top: 7px;
    }
    /* End Header */

    /* content */
    .container .jumbotron {
        /* width: 425px; */
        padding: 10px;
    }
    .box_front {
        /* width: 400px; */
        height: 400px;
    }
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
    /* End content */
}