/*** Time counter ***/

/************CSS Calss Style**************/

section {
  width: 98%;
  margin: auto;
  padding-top: 20px;
  font-family: 'roboto', sans-serif;
}

.time_counter { 
    text-align: center;
}

.time_counter .cell {
  width: 35px;
  height: 35px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

/************CSS Calss Animation**************/

.ten {
  -webkit-animation-name: ten;
  -moz-animation-name: ten;
  -o-animation-name: ten;
  animation-name: ten;
  -webkit-animation-timing-function: steps(10);
  -moz-animation-timing-function: steps(10);
  -o-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes ten {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -350px;
  }
}
@-moz-keyframes ten {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -350px;
  }
}
@-o-keyframes ten {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -350px;
  }
}
@keyframes ten {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -350px;
  }
}

.six {
  -webkit-animation-name: six;
  -moz-animation-name: six;
  -o-animation-name: six;
  animation-name: six;
  -webkit-animation-timing-function: steps(6);
  -moz-animation-timing-function: steps(6);
  -o-animation-timing-function: steps(6);
  animation-timing-function: steps(6);
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes six {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -210px;
  }
}
@-moz-keyframes six {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -210px;
  }
}
@-o-keyframes six {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -210px;
  }
}
@keyframes six {  
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -210px;
  }
}

.mill {
  -webkit-animation-duration: 0.01s;
  -moz-animation-duration: 0.01s;
  -o-animation-duration: 0.01s;
  animation-duration: 0.01s;
}

.ten_mill {
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  -o-animation-duration: 0.1s;
  animation-duration: 0.1s;
}

.hund_mill {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.sec {
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
}

.ten_sec {
  -webkit-animation-duration: 60s;
  -moz-animation-duration: 60s;
  -o-animation-duration: 60s;
  animation-duration: 60s;
}

.minu {
  -webkit-animation-duration: 600s;
  -moz-animation-duration: 600s;
  -o-animation-duration: 600s;
  animation-duration: 600s;
}

.ten_minu {
  -webkit-animation-duration: 3600s;
  -moz-animation-duration: 3600s;
  -o-animation-duration: 3600s;
  animation-duration: 3600s;
  animation-iteration-count: 1;
}

.hour {
  -webkit-animation-duration: 36000s;
  -moz-animation-duration: 36000s;
  -o-animation-duration: 36000s;
  animation-duration: 36000s;
}

.ten_hour {
  -webkit-animation-duration: 360000;
  -moz-animation-duration: 360000;
  -o-animation-duration: 360000;
  animation-duration: 360000;
}

/************CSS Calss Play**************/

#start:checked~.time_counter .num {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

#stop:checked~.time_counter .num {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#reset:checked~.time_counter .num {
  -webkit-animatione: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

.time_counter .cell .num {
  font-size: 35px;
  line-height: 35px;
  color: #444;
  display: block;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.time_counter .cell .num {
  font-size: 35px;
  line-height: 35px;
  color: #444;
  display: block;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.time_counter .cell .ten_minu {
  -webkit-animatione: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
/* END Time counter */